<div style="margin: 5%; margin-right: 50%">
    <button class="btn btn-primary" (click)="addresturant()">Add Restaurant</button>
    <button style="margin-left: inherit" class="btn btn-primary" (click)="addMenu()">Add Menu</button>
  <h1>Orders</h1>
<div *ngFor="let orderlist of ordersList" style="box-shadow: 0 0 2px black; padding: 20px;">
  <h5>Name: {{orderlist.orderName}}</h5>
  <div style="margin-bottom: 10px;">
  <p style="margin: 0">Contact #: {{orderlist.orderPhoneNumber}}</p>
  <p style="margin: 0">Address: {{orderlist.orderAddress}}</p>
  <p style="margin: 0">Total Bill: {{orderlist.totalBill}}</p>
  </div>
  <div *ngFor="let o of orderlist.order">
    <p style="margin: 0">Restaurant Name: {{o.resturantName}}</p>
    <div *ngFor="let dish of o.dishes" >
        <p style="margin: 0">Dish Name: {{dish.dishName}}, Dish Price: {{dish.dishPrice}}, Dish Quantity: {{dish.dishQuantity}}</p>
    </div>
    <p>Restaurant Bill: {{o.totalPrice}}</p>
  </div>
</div>
</div>
