<ng-template #template>
    <div class="modal-body">
      <form id="msform">
        <h2 class="fs-title">Order Request</h2>
        <hr>
        <div class="row">
          <label>Name:</label>
          <input type="text" class="form-control" name="Name" [(ngModel)]="user.name" disabled/>
        </div>
        <div class="row">
          <label>Phone Number:</label>
          <input type="tel" *ngIf="user.phoneNumber == undefined" class="form-control" name="PhoneNumber" [(ngModel)]="user.phoneNumber"/>
          <input type="tel" *ngIf="user.phoneNumber != undefined" class="form-control" name="PhoneNumber" [(ngModel)]="user.phoneNumber" disabled/>
        </div>
        <div class="row">
          <label>Address:</label>
          <input type="text" class="form-control" name="address" [(ngModel)]="user.address"/>
        </div>
        <div class="row">
          <label>Total Bill:</label>
          <label #bill>{{ totalCartBill | currency:"&#8360;"}}</label>
        </div>
        <div>
          <button [disabled]="user.address == '' || user.phoneNumber == '' || user.name == ''" type="submit" name="submit" class="submit action-button" (click)="orderRequest()">Send</button>
          <button name="Cancel" class="Cancel action-button" (click)="modalRef.hide()">Cancel</button>
        </div>
      </form>
    </div>
  </ng-template>
<div class="row">
  <div class="col-md-8">
      <div class="container" style="margin-top: 30px; margin-left: 25px;">
          <div class="row">
              <h1>{{ menu?.resturantName }} Menu</h1>
              <button class="btn btn-info" style="margin-top: 11px; height: 31px; margin-left: 500px; padding-bottom: 30px;" (click)="cart()">Cart</button>
          </div>
          
          <hr>
          <button class="btn btn-primary" (click)="back()">Back</button>
          <br>
          <br>
          <div class="row">

              <div class="card" style="width: 18rem;" *ngFor="let dish of menu?.dishes">
                  <img [src]="dish.dishImage" class="card-img-top" height="200px">
                  <div class="card-body">
                      <div>
                          <h5 class="card-title">Name: {{ dish.dishName }}</h5>
                          <p class="card-text">Price: {{ dish.dishPrice | currency:"&#8360;"}}</p>
                          <input type="number" [(ngModel)]="dish.dishQuantity" min="1" style="width: 70px;">
                          <br>
                          <br>
                          <button class="btn btn-primary" [disabled]="dish.dishQuantity > 0 ? false : true" (click)="addToCart(menu.resturantId, menu.resturantName, dish.dishId ,dish.dishName, dish.dishPrice, dish.dishQuantity, dish.totalPrice)">Add to Cart</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-md-4" *ngIf="totalCartBill">
      <div class="container" style="margin-top: 30px;">
          <h1>Cart</h1>
          <hr>
          <div *ngFor="let cart of mcart">
              <div class="row" style="margin-left: 2px;">
                  <h5>Resturant Name: {{ cart.resturantName }}</h5>
                  <button class="btn btn-danger" (click)="removeResturantFromCart(cart.resturantId)" style="height: 23px; padding-top: 0px; margin-left: 50px;">X</button>
              </div>
              <br>
              <div *ngFor="let dish of cart.dishes">
                  <div class="row" style="margin-left: 2px;">
                      <p>Dish Name: {{ dish.dishName }}</p>
                      <button class="btn btn-primary" (click)="removeDishFromCart(cart.resturantId, dish.dishId)" style="height: 23px; padding-top: 0px; margin-left: 50px;">X</button>
                  </div>
                  <p>Price: {{ dish.dishPrice | currency:"&#8360;"}}</p>
                  <div class="row" style="margin-left: 2px;">
                      <p> Quantity: {{ dish.dishQuantity }}</p>
                      <button class="btn btn-success" style="height: 30px; margin-left: 20px; text-align: center; padding-top: 1px;" (click)="increase(cart.resturantId, dish.dishId)">+</button>
                      <button class="btn btn-danger" style="height: 30px; margin-left: 10px; text-align: center; padding-top: 1px;" (click)="decrease(cart.resturantId, dish.dishId)">-</button>
                  </div>
              </div>
              <p>Total Bill: {{ cart.totalPrice | currency:"&#8360;"}}</p>
              <hr>
          </div>
          <hr>
          <div class="row" style="margin-left: 5px;">
              <div *ngIf="totalCartBill > 0; bill">
                  <p #bill>Bill: {{ totalCartBill | currency:"&#8360;"}}</p>
              </div>
              <button class="btn btn-secondary" (click)="openModal(template)" style="height: 25px; padding-top: 2px; margin-left: 100px;">CheckOut</button>
          </div>
      </div>
  </div>
</div>